<!--header-->
<header class="container">
  <!--Fixed navbar-->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><%= image_tag asset_path("brain_shapes_32.png", :alt => "logo") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../../../dojo">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="new">New Student<span class="sr-only"></span></a>
        </li>
      </ul>

    </div>
  </nav>
</header>
<!--main-->
<main role="main" class="container" style="padding-top: 60px">
  <!--top row-->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <% if @error_count %>
        <% for i in 0..@error_count do %>
          <div class="text-danger">
            <%= @error_messages[i] %>
            <%#= @error_hash.values_at('street') %>
          </div>
        <% end %>

      <% end %>
    </div>
    <div class="col-2">
      <%#= @error_hash.values_at('branch') %>
    </div>
  </div>
  <!--middle row-->
  <!--dojo branch information-->

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!--form-->
      <form action="/dojo/<%= @dojo.id %>/edit" method="get" class="form mt-5">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <fieldset>
          <div class="form-group form-row">
            <label for="edit" class="h1 col-8">Coding Dojo <%= @dojo.city %> </label>
            <div class="col-4 text-right">
              <button id="edit" type="submit" class="btn btn-outline-warning mt-2">Edit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!--street-->
              <div class="form-group">
                <label for="address" class="h6">Address:</label>
                <div class="col-auto">
                  <input id="address" disabled type="text" name="address" class="form-control form-control-plaintext bg-white border " value="<%= @dojo.street %>">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <!--city-->
              <div class="form-group ">
                <label for="city" class="h6">City:</label>
                <div class="col-auto">
                  <input id="city" disabled type="text" name="city" class="form-control form-control-plaintext bg-white border" value="<%= @dojo.city %>">
                </div>
              </div>
            </div>
            <div class="col-4">
              <!--state-->
              <div class="form-group">
                <label for="state" class="h6">State:</label>
                <div class="col-auto">
                  <input id="state" disabled type="text" name="state" class="form-control form-control-plaintext bg-white border" value="<%= @dojo.state %>">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
  <!--bottom row-->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h3>Student Roster</h3>
      <table class="table table-bordered table-striped table-hover">

        <thead class="thead-dark">
        <tr class="text-center">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.email %></td>
              <td class="text-center">
                <form action="<%= student.id %>" method="get">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="patch">
                  <input type="submit" class="btn btn-outline-warning btn-sm" value="Edit">
                  <a class="btn btn-outline-danger btn-sm" href="#" data-method="delete">Destroy</a>
                </form>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</main>

<!--footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="text-muted">&copy; 2018 Mark W. Matthews, PhD</span>
      </div>
      <!--social media icons-->
      <div class="col-6">
        <%= image_tag asset_path("17_Social_media_logos_24px_05.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_09.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_13.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_17.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_37.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_64.png", :alt => "logo") %>
        <%= image_tag asset_path("17_Social_media_logos_24px_224.png", :alt => "logo") %>
      </div>
    </div>
  </div>
</footer>